* {		--original-theme-font1: #6f63df;
		--original-theme-font2: #333637;
		--original-theme-background1: #f1fcff;
		--original-theme-background2: #d2e3ed;
		box-sizing: border-box;
	}
/*
	:root {	--b-theme-font1: rgb(231, 84, 69);
			--b-theme-font2: #333637;
			--b-theme-background1:  rgb(241, 190, 246);
			--b-theme-background2: rgb(241, 190, 246);
	}
*/ 
 

 
 body {
		padding: 0; 
		background-color: var(--original-theme-background); 
		box-sizing: border-box;
	}

.header {
		display: flex;
		justify-content:space-between;
		padding-left: 20px;
		padding-right: 20px;
		background-color:var(--original-theme-background2);
		border-radius: 15px; 
}

.talents {
		display: flex;
		justify-content: space-between;
		padding-left: 20px;
		padding-right: 20px;
		background-color: #f1fcff;
}


 ul {
		display: flex;
		flex: wrap;
		justify-content: space-between;
		flex: 1 0 400px;
		padding-right: 100px;
}

li::marker {
		color: var(--original-theme-font1);
}


.header h2, #talents {
		font-style: italic;
		font-weight: lighter;
		color: var(--original-theme-font2);
}

#talent1::first-letter {
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--original-theme-font1);

}
 
.screen {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
}

.wallpaper {
		height: 100%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 1;
}

.objectd {
		flex: 0 0 100px;
		padding: 25px;
		height: 40%;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		z-index: 2;
		right: 2%;
		top: 5%;
		opacity: 0.5;
}

.objecte {
	flex: 0 0 100px;
	padding: 25px;
	height: 40%;
	min-width: 15%;
	max-width: 25%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 3;
	left: 20%;
	bottom: 5%;
	opacity: 0.5;
}

.objectf {
	flex: 0 0 100px;
	padding: 25px;
	height: 30%;
	min-width: 15%;
	max-width: 25%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 3;
	top: 30%;
	left: 30%;
	opacity: 0.2;
	animation: 30s linear 0s infinite alternate rotate;
}

.link {
		position: absolute;
		z-index: 3;
		right: 7%;
		top: 13%;
}

.objectd img {
		opacity: 0.5;
		width: 100%;
		min-width: 20px;
}

.link p {
		color:var(--original-theme-font1);
}

.objectd:hover {
		opacity: 100%;
}

.objecte:hover {
	opacity: 80%;
}


.object:active {
		transform: rotate(100deg);
}
.talents p:hover {
		color:var(--original-theme-font1);
}

@media screen and (max-width:576px) {

	.talents {background-color: #d2e3ed;}}


	@keyframes rotate {
		from {transform: rotate(0); 
				opacity: 0.2;
				filter: hue-rotate(0deg);}
		to {transform: rotate(360deg);
			opacity: 0.7;
			filter: hue-rotate(360deg);}}
	

	