 * {box-sizing: border-box;}  
 
 body {
		padding: 0; 
		background-color: #f1fcff; 
		box-sizing: border-box;}

.header {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	background-color:#d2e3ed;
	border-radius: 15px; 
	border-color: #f1fcff;
}

.talents {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}


 ul {display: flex;
	flex: wrap;
	justify-content: space-between;
	flex: 1 0 400px;
	padding: 20px;
}



	.header h2, #talents {
		font-style: italic;
		font-weight: lighter;
		color: #333637;
	}

 	#talent1::first-letter {
		font-size: 1.5rem;
		font-weight: bold;
		color: #6f63df;

 }
 
	
	.screen {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
}

	.wallpaper {
		height: 100%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 1;
}

	.objectd {flex: 0 0 100px;
		padding: 25px;
		height: 40%;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		z-index: 2;
		right: 2%;
		top: 5%;
		opacity: 0.5;
	}

	.link {position: absolute;
			z-index: 3;
			right: 7%;
			top: 13%;}


	.objectd img {opacity: 0.5;
				width: 100%;
			min-width: 20px;}

	.link p {color:#6f63df;}



	.objectd:hover {opacity: 100%}
	.object:active {transform: rotate(100deg)}
	.talents p:hover {color:#6f63df;}


	