    body {
	
	padding: 0; background-color: #Feeedc; box-sizing: border-box;}
	
	
.content {
	position: relative
}





	.wallpaper {height: 100%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 1;
}

	.objectd {height: 50%;
		width: 40%;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		z-index: 3;
		left: 350px;
		top: 100px;
		opacity: 0.5;
		border-style: groove;
		border-color: #06a5c9;
}

.object {opacity: 0.5;
}


	.objectd:hover {opacity: 100%}
	.object:active {transform: rotate(100deg)}


	